:root {
  --main-cl: #AE1332;
  --accent-green-cl: #A4CB66;
  --accent-yellow-cl: #F5CE13;
  --text-cl: #FFFFFF;
  --darkmode-cl: #000000;
  --var--shadow: 0px 4px 70px rgba(0, 0, 0, .1)

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: DM Sans;
  src: url(/fonts/DMSans-Regular.ttf) format("truetype"), url(/fonts/DMSans-Regular.woff) format("woff"), url(/fonts/DMSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: DM Sans;
  src: url(/fonts/DMSans-Medium.ttf) format("truetype"), url(/fonts/DMSans-Medium.woff) format("woff"), url(/fonts/DMSans-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: DM Sans;
  src: url(/fonts/DMSans-Bold.ttf) format("truetype"), url(/fonts/DMSans-Bold.woff) format("woff"), url(/fonts/DMSans-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
}

/* For Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* For Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.section-title { 
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.section-text {
  max-width: 334px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
}

section {
  padding-bottom: 80px;
}
