<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left-side">
      <div class="footer_left-list">
        <img class="footer__image" src="./img/footer/footer-feedback.jpg" srcset="./img/footer/footer-feedback_335.jpg 335w,
        ./img/footer/footer-feedback_349.jpg 349w,
        ./img/footer/footer-feedback_670.jpg 670w,
        ./img/footer/footer-feedback_698.jpg 698w" 
        sizes="(min-width: 768px) 349px,
               (min-width: 375px) 335px, 100vw" 
        alt="Woman with bannas at her hands" 
        width="349" loading="lazy">

        <a class="footer__logo logo link" href="./index.html">
          <svg class="header__image" width="16" height="16">
            <use href="./img/sprite.svg#icon-logo">
            </use>
          </svg>
          <span class="footer__logo-text logo-text">fresh harvest box</span>
        </a>
      </div>
      <ul class="footer__list list">
        <li class="footer__item item">
          <a class="footer__link link" href="#order">How It Works</a>
        </li>
        <li class="footer__item item">
          <a class="footer__link link" href="#organic-fruits">Fruits</a>
        </li>
        <li class="footer__item item">
          <a class="footer__link link" href="#fresh-box">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="footer__right-side">
      <ul class="footer__socials">
        <li class="footer__socials-item list">
          <a href="" class="footer__socials-link">
            <svg class="footer__socials-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-facebook">
              </use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item item">
          <a href="" class="footer__socials-link">
            <svg class="footer__socials-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-instagram">
              </use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item item">
          <a href="" class="footer__socials-link">
            <svg class="footer__socials-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-youtube">
              </use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="address">
        <ul class="address__list">
          <li class="address__item list">
            <a href="tel:+380 (68) 443-94-26" class="address__link link">+380 (68) 443-94-26</a>
          </li>
          <li class="address__item list">
            <a href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7331679,-111.960925,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7331639!4d-111.9583501!16s%2Fg%2F1tcxvqmt?authuser=0"
              class="address__link link" target="_blank" rel="noopener nofollownoreffer">678 S. Pioneer Road Salt Lake
              City UT
              84104</a>
          </li>
        </ul>
      </address>
    </div>
    
    <button class="go-up">
      <svg class="go-up-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
    </button>

  </div>
</footer>
