
<section class="fresh-box" id="fresh-box">
  <div class="container fresh-box__container">
    <!-- <p>Fresh-box section</p> -->
    <h1 class="titel-fresh-box"> Fresh Harvest Box has got you covered</h1>

    <img src="../img/fresh-box/fresh-box-1.jpg" alt="photo">
    <img src="../img/fresh-box/fresh-box-2.jpg" alt="photo">

    <p class="txt-fresh-box">
      Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier
      or support local farmers. Order your box today and start enjoying the best that nature has to offer!
    </p>

    <form action="">
      <input class="inpunt-fresh-box" type="email" name="email" required id="email">
      <button class="form-btn" type="submit">send</button>
    </form>

    <div class="backdrop is-hidden">
      <div class="modal-fresh-box">
        <img src="../img/fresh-box/kisspng-juice-frutti-di-bosco-raspberry-fruit-strawberry-berries-png-file-5a748ade7ae8b2 1.jpg" alt="">
        <h1 class="modal-titel">THANK YOU</h1>
        <p class="txt-modal">Thank you for your order! Our team is preparing your box with fresh, delicious fruits and
          vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look forward to
          providing you with the best possible experience!</p>
      </div>
    </div>


  </div>
</section>