
<section class="fresh-box" id="fresh-box">
  <div class="container fresh-box__container">
    <h1 class="title-fresh-box">Fresh Harvest Box has got you covered</h1>

    <img src="./img/fresh-box/fresh-box-1.jpg" alt="photo" />
    <img src="./img/fresh-box/fresh-box-2.jpg" alt="photo" />

    <p class="txt-fresh-box">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>

    <form action="">
      <input
        class="input-fresh-box"
        type="email"
        name="email"
        required
        id="email"
      />
      <button class="form-btn" type="submit">send</button>
    </form>
    
    
    
  </div>
</section>
