<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item item">
          <a class="header__link link" href="#order">How It Works</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="#organic-fruits">Fruits</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="#fresh-box">Contacts</a>
        </li>
      </ul>
      <a class="header__logo logo link" href="./index.html">
        <svg class="header__icon" width="16" height="16">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        <span class="header__logo-text logo-text">fresh harvest box</span>
      </a>
    </nav>

    <button
      class="header__toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="" width="24" height="24">
        <use href="./img/sprite.svg#icon-toggle"></use>
      </svg>
    </button>

    <button class="header__bascket">
      <svg class="header__bascket-image" width="28" height="28">
        <use href="./img/sprite.svg#icon-bascket"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile__container js-menu-container" id="mobile__list">
  <div class="mobile__header">
    <a class="header__logo logo link" href="./index.html">
      <svg class="header__icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
      <span class="header__logo-text logo-text">fresh harvest box</span>
    </a>
    <button class="mobile__toogle js-close-menu">
      <svg class="mobile__icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-mobile-toggle"></use>
      </svg>
    </button>
  </div>
  <div class="mobile__menu">
    <ul class="mobile__list list">
      <li class="mobile__item item">
        <a class="mobile__link link" href="#order">How It Works</a>
      </li>
      <li class="mobile__item item">
        <a class="mobile__link link" href="#organic-fruits">Fruits</a>
      </li>
      <li class="mobile__item item">
        <a class="mobile__link link" href="#fresh-box">Contacts</a>
      </li>
    </ul>

    <button class="mobile__bascket">
      <svg class="header__bascket-image" width="28" height="28">
        <use href="./img/sprite.svg#icon-bascket"></use>
      </svg>
    </button>
  </div>
</div>
