<section class="hero" id="hero">
  <div class="container hero__container">
    <p>Hero section</p>
    <h1>fresh harvest box
      is your one-stop place for a delicious fruit basket</h1>

    <img src="./img/hero/hero-group.png" alt="photo" />
    <p>Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you are
      looking
      for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.</p>
    <h3>Fruit</h3>
    <img src="./img/hero/watermelon.png" alt="watermelon" width="200" ; height="172" ; />
    <p>Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
    <h3>Fruit</h3>
    <img src="./img/hero/strawberry-basket.png" alt="strawberry-basket" width="162" height="185" />
    <p>Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and healthy
      snack</p>


  </div>
</section>