<section class="hero" id="hero">
  <div class="backdrop-thanks">
    <div class="modal-thanks">
      <button class="modal-thanks-btn-close" type="button">
        <svg width="24" height="24"><use href=""></use></svg>
      </button>
      <img
        class="modal-thanks-img"
        src="/src/img/modal-thanks/raspberries.png"
        alt=""
      />
      <h2 class="section-title modal-thanks">Thank you</h2>
      <p class="section-text thanks-paragraph">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</section>
