<section class="order" id="order">
  <div class="container order__container">
    <h2 class="section-title order-title">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="section-text order-paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="order-list list">
      <li class="order-item">
        <div class="order-bg"><h3 class="order-header">First Step</h3></div>
        <p class="order-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="order-item">
        <div class="order-bg order-bg-second">
          <h3 class="order-header">Second Step</h3>
        </div>
        <p class="order-text">Click on the basket and fill out the form.</p>
      </li>
      <li class="order-item">
        <div class="order-bg order-bg-third">
          <h3 class="order-header">Third Step</h3>
        </div>
        <p class="order-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>

    <div class="order-img"></div>
  </div>
</section>
