<section class="order" id="order">
  <div class="container order__container">
    <p>Order section</p>

    <ul class="order-list list">
      <li class="order-item">
        <div class="order-bg"><h3 class="order-header">FIrst Step</h3></div>
        <p class="order-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="order-item">
        <div class="order-bg order-bg-second">
          <h3 class="order-header">Second Step</h3>
        </div>
        <p class="order-text">Click on the basket and fill out the form.</p>
      </li>
      <li class="order-item">
        <div class="order-bg order-bg-third">
          <h3 class="order-header">Third Step</h3>
        </div>
        <p class="order-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
  </div>
</section>
