<section class="organic-fruits" id="organic-fruits">
  <div class="container organic-fruits__container">
    <h2 class="section-title">ORGANIC FRUITS</h2>
    <p class="section-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="organic-fruits-list list">
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Strawberry</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/strawberry.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">100 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Banana</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/banana.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">80 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Watermelon</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/watermelon.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">40 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Lime</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/lime.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">60 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Apple</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/apple.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">50 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Peach</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/peach.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">80 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Plums</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/plums.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">40 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Orange</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/orange.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">60 UAH / kg</p>
        </a>
      </li>
      <li class="organic-fruits-item">
        <h3 class="fruits-name">Kiwi</h3>
        <p class="organic-desc">Plant</p>
        <img
          src="./img/organic-fruits/kiwi.png"
          alt="photo-fruits"
          width="295"
          height="251"
        />
        <a href="">
          <p class="organic-price">90 UAH / kg</p>
        </a>
      </li>
    </ul>
    <button class="organic_btn" type="button"> 
      <svg class="organic-btn-svg" width="14" height="14">
      <use href="./img/sprite.svg#icon-Order_btn"></use>
    </svg>
      <span class="organic-btn-txt">ORDER</span>
    </button>
  </div>
</section>
