<section class="organic-fruits" id="organic-fruits">
  <div class="container organic-fruits__container">
    <h2 class="section-title organic-section-title">ORGANIC FRUITS</h2>
    <p class="section-text organic-section-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="organic-fruits-list list">
      <li class="organic-fruits-item item-bg-strawberry">
        <h3 class="organic-fruits-name">Strawberry</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/strawberry.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">100 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-banana">
        <h3 class="organic-fruits-name">Banana</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/banana.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">80 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-watermelon">
        <h3 class="organic-fruits-name">Watermelon</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/watermelon.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">40 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-lime">
        <h3 class="organic-fruits-name">Lime</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/lime.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">60 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-apple">
        <h3 class="organic-fruits-name">Apple</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/apple.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">50 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-peach">
        <h3 class="organic-fruits-name">Peach</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/peach.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">80 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-plums">
        <h3 class="organic-fruits-name">Plums</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/plums.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">40 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-orange">
        <h3 class="organic-fruits-name">Orange</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/orange.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">60 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-kiwi">
        <h3 class="organic-fruits-name">Kiwi</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          src="./img/organic-fruits/kiwi.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">90 UAH / kg</a>
      </li>
    </ul>
    <button class="organic_btn js-open-modal" data-modal="1" type="button">
      <svg class="organic-btn-svg" width="14" height="14">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
      <span class="organic-btn-txt">ORDER</span>
    </button>

    <!-- Modal window -->

    <div class="modal-js modal-order" data-modal="1">
      <div class="modal-order-box">
        <svg
          class="modal__cross js-modal-close"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
          />
        </svg>
        <h2 class="modal-order-titel">YOUR ORDER</h2>
        <ul class="list modal-list">
          <li class="modal-item-strawberry">
            <h3 class="modal-order-titels">Strawberry Basket</h3>
            <p class="modal-order-desc">Plant</p>
            <img
              class="fruits-box-strawberry"
              src="./img/modal/box-strawberry.png"
              alt="Basket with strawberry"
            />
            <label>
              <input class="fruits-checkbox" type="checkbox" />
              <svg class="check-icon" width="16" height="16">
                <use class="check" href="./img/sprite.svg#icon-checkbox"></use>
              </svg>

              <svg class="check-icon" width="16" height="16">
                <use
                  class="uncheck"
                  href="./img/sprite.svg#icon-uncheckbox"
                ></use>
              </svg>
            </label>
          </li>
          <li class="modal-item-appels">
            <h3 class="modal-order-titels">Apple Basket</h3>
            <p class="modal-order-desc">Plant</p>
            <img
              class="fruits-box-apple"
              src="./img/modal/box-fruits.png"
              alt="Basket with apple"
            />
            <label>
              <input class="fruits-checkbox" type="checkbox" />
              <svg class="check-icon" width="16" height="16">
                <use class="check" href="./img/sprite.svg#icon-checkbox"></use>
              </svg>

              <svg class="check-icon" width="16" height="16">
                <use
                  class="uncheck"
                  href="./img/sprite.svg#icon-uncheckbox"
                ></use>
              </svg>
            </label>
          </li>
          <li class="modal-item-fruits">
            <h3 class="modal-order-titels">Fruits Basket</h3>
            <p class="modal-order-desc">Plant</p>
            <img
              class="fruits-box-mix"
              src="./img/modal/cup-fruits.png"
              alt="Basket with fruits mix"
            />
            <label>
              <input class="fruits-checkbox" type="checkbox" />
              <svg class="check-icon" width="16" height="16">
                <use class="check" href="./img/sprite.svg#icon-checkbox"></use>
              </svg>

              <svg class="check-icon" width="16" height="16">
                <use
                  class="uncheck"
                  href="./img/sprite.svg#icon-uncheckbox"
                ></use>
              </svg>
            </label>
          </li>
        </ul>

        <form class="customers-form" name="customers-form">
          <label class="customers-form-label">
            <input
              class="customers-form-input"
              type="text"
              placeholder="Enter full name..."
              required
            />
          </label>

          <label class="customers-form-label">
            <input
              class="customers-form-input"
              type="email"
              placeholder="Enter email..."
              required
            />
          </label>

          <label class="customers-form-label">
            <input
              class="customers-form-input"
              type="text"
              placeholder="Enter card..."
              pattern="[a-z0-9]+"
              required
            />
          </label>
          <label class="customers-form-label" for="customers-comment">
            <textarea
              class="customers-form-textarea"
              name="customers_form_textarea"
              id="customers-comment"
              cols="35"
              rows="5"
              placeholder="Enter comments..."
            ></textarea>
          </label>
          <button class="form-submit-btn" type="submit">Submit</button>
        </form>
        <img
          class="modal-img"
          srcset="
            ./img/modal/girl-with-bananas.png     370w,
            ./img/modal/girl-with-bananas-tab.png 450w
          "
          sizes="(min-width: 1280px) 370px, (min-width: 768px) 450px, 100vw"
          src="./img/modal/girl-with-bananas.png"
          alt="Girl with bananas"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
