<section class="organic-fruits" id="organic-fruits">
  <div class="container organic-fruits__container">
    <h2 class="section-title organic-section-title">ORGANIC FRUITS</h2>
    <p class="section-text organic-section-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="organic-fruits-list list">
      <li class="organic-fruits-item item-bg-strawberry">
        <h3 class="organic-fruits-name">Strawberry</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/strawberry_mob@1x.png 295w, ../img/organic-fruits/strawberry_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/strawberry.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">100 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-banana">
        <h3 class="organic-fruits-name">Banana</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/banana_mob@1x.png 295w, ../img/organic-fruits/banana_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/banana.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">80 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-watermelon">
        <h3 class="organic-fruits-name">Watermelon</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/watermelon_mob@1x.png 295w, ../img/organic-fruits/watermelon_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/watermelon.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">40 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-lime">
        <h3 class="organic-fruits-name">Lime</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/lime_mob@1x.png 295w, ../img/organic-fruits/lime_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/lime.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">60 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-apple">
        <h3 class="organic-fruits-name">Apple</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/apple_mob@1x.png 295w, ../img/organic-fruits/apple_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/apple.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">50 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-peach">
        <h3 class="organic-fruits-name">Peach</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/peach_mob@1x.png 295w, ../img/organic-fruits/peach_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/peach.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">80 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-plums">
        <h3 class="organic-fruits-name">Plums</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/plums_mob@1x.png 295w, ../img/organic-fruits/plums_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/plums.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">40 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-orange">
        <h3 class="organic-fruits-name">Orange</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/orange_mob@1x.png 295w, ../img/organic-fruits/orange_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/orange.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">60 UAH / kg</a>
      </li>
      <li class="organic-fruits-item item-bg-kiwi">
        <h3 class="organic-fruits-name">Kiwi</h3>
        <p class="organic-desc">Plant</p>
        <img
          class="organic-item-img"
          srcset="../img/organic-fruits/kiwi_mob@1x.png 295w, ../img/organic-fruits/kiwi_mob@2x.png 590w"
          sizes="(min-width: 1280px) 295px, (min-width: 768px) 295px, (min-width: 375px) 295px, 100vw"
          src="./img/organic-fruits/kiwi.png"
          alt="photo-fruits"
          width="295"
          height="251"
          loading="lazy"
        />
        <a class="organic-price-link" href="">90 UAH / kg</a>
      </li>
    </ul>
    <button class="organic_btn" type="button">
      <svg class="organic-btn-svg" width="14" height="14">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
      <div class="organic-btn-txt">ORDER</div>
    </button>
  </div>
</section>