.footer {
  width: 100%;
  background-color: var(--text-cl);
  padding: 80px 0;
}

@media screen and (min-width:768px) {
  .footer {
    padding: 0;
  }
}

@media screen and (min-width:768px) {
  .footer__container {
    padding-bottom: 0;

    display: flex;

    justify-content: space-between;
    align-items: center;
  }
}

.footer__image {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 80px;
}

.footer__logo.logo {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width:768px) {
  .footer__logo.logo {
    margin-bottom: 80px;
  }
}

.footer__logo-text.logo-text {
  font-weight: 700;
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--main-cl);

}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  margin-top: 24px;
  margin-bottom: 44px;
}


.footer__link {
  font-weight: 400;
  /*font-size: 14px;*/
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--main-cl);

  transition: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-green-cl);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .footer__socials {
    justify-content: flex-start;
    margin-top: 38px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer__socials {
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}



.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 1px solid var(--main-cl);
  border-radius: 10px;

  transition: background;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1280px) {
  .footer__socials-link {

    width: 44px;
    height: 44px;
  }


}

.footer__socials-link:hover,
.footer__socials-link:focus {
  background: rgba(174, 19, 50, 0.1);
}

.address__list {
  max-width: 143px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  line-height: 1.29;
  text-align: center;
  font-style: normal;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .address__list {
    block-size: 140px;
    max-width: 180px;
    gap: 20px;

    font-size: 20px;
    line-height: 1.33;
    text-align: start;
  }

}

.address__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block;
  text-align: left;*/
}

.address__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;

  color: var(--main-cl);
}

@media screen and (min-width:1280px) {
  .footer__left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 243px;
  }
}


/* Scroll */
.go-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;


  font-size: 20px;
  padding: 11px;

  color: var(--text-cl);
  background-color: var(--accent-yellow-cl);

  border: none;
  border-radius: 50px;

  cursor: pointer;
}

.go-up:hover,
.go-up:focus {
  background-color: var(--accent-green-cl);
}

.go-up-visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-up-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(225deg);
  fill: currentColor;
}