.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 142px;
    row-gap: 59px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    flex-wrap: nowrap;
    column-gap: 86px;
    align-items: center;
  }
}

/* HERO CENTER */

.hero__center {
  position: relative;
  order: 1;
  margin-top: 106px;

  background-image: url(/img/hero/banana-straw@1x.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .hero__center {
    margin-top: 114px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__center {
    order: 2;
  }
}

.hero__center_text {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .hero__center_text {
    font-size: 50px;
    line-height: 1.08;
    max-width: 710px;
    top: -7px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__center_text {
    font-size: 64px;
    max-width: 910px;
    top: 0px;
    right: 13%;
  }
}

.hero__center_img {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: auto;
  padding: 12px 12px 13px 12px;
  margin-top: 54px;

  border-radius: 500px;
  background: linear-gradient(#ae1332, #ae1332) padding-box,
    linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.44),
        rgba(255, 255, 255, 0)
      )
      border-box;
  border: 1.5px solid transparent;
  z-index: -1;

  max-width: 100%;
  max-height: 509px;
}

@media only screen and (min-width: 768px) {
  .hero__center_img {
    max-width: 486px;
    max-height: 742px;

    padding: 20px 17px;
  }
}

/*@media only screen and (min-width: 1280px) {
  .hero__center_img {
   
  }
}*/

.hero__center_link {
  position: absolute;
  bottom: -27px;
  right: calc(50% - 40px);

  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
}

.hero__center_link:hover,
.hero__center_link:focus {
  color: #a4cb66;
}

@media only screen and (min-width: 768px) {
  .hero__center_link {
    width: 114px;
    height: 114px;
    font-size: 28px;
    bottom: -35px;
    right: calc(50% - 57px);
  }
}

@media only screen and (min-width: 1280px) {
  .hero__center_link {
    bottom: -35px;
    right: calc(50% - 57px);
  }
}

/* HERO LEFT SIDE */

.hero__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 279px;

  order: 2;
  margin-top: 71px;
}

@media only screen and (min-width: 768px) {
  .hero__left-side {
    /* width: 40%;
    flex-direction: column; */
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__left-side {
    order: 1;
  }
}

.hero__left-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero__left-card {
  width: 249px;
  height: 387px;
  background: #a4cb66;
  border-radius: 500px;
  padding: 28px 25px 40px 24px;

  margin: 44px auto;
}

.hero__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: -0.04em;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero__left-card-img {
  width: 200px;
  height: 172px;
  margin-top: 61px;
  margin-bottom: 2px;
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));
}

.hero__left-card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

/* HERO RIGHT SIDE */

.hero__right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  max-width: 279px;

  order: 3;
}

@media only screen and (min-width: 768px) {
  .hero__right-side {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__right-side {
    /* order: 3; */
  }
}

.hero__right-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .hero__right-list {
    justify-content: end;
  }
}

.hero__right-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  width: 132px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
}

@media only screen and (min-width: 768px) {
  .hero__right-item {
    width: auto;
    padding: 12px 32px;
  }
}

.hero__right-item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.hero__right-card {
  width: 249px;
  height: 387px;
  padding: 28px 44px 40px 43px;
  /* margin: 44px auto 0; */

  background: #f5ce13;
  border-radius: 500px;
}

.hero__right-card-img {
  width: 162px;
  height: 185px;
  margin: 19px auto 17px;
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));
}

.hero__right-card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
