.backdrop-thanks {
}

.modal-thanks {
  padding: 40px 20px;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 96px;
  max-width: 335px;
  max-height: 426px;
  border-radius: 20px;
  background-color: #e03f5e;
}

@media only screen and (min-width: 768px) {
  .modal-thanks {
    max-width: 600px;
    max-height: 545px;
  }
}

.modal-thanks-btn-close {
  position: absolute;
  top: 18px;
  right: 19px;
  color: #fff;
  background-color: none;
}

.modal-thanks {
  letter-spacing: uppercase;
  color: #fff;
  margin-bottom: 14px;
}
.thanks-paragraph {
  max-width: 295px;
  color: #fff;
  font-size: 14px;
  line-height: 99%;
  align-items: Center;
  letter-spacing: -4%;
}

@media only screen and (min-width: 768px) {
  .thanks-paragraph {
    max-width: 391px;
  }
}

.modal-thanks-img {
  max-width: 207px;
  max-height: 176px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .modal-thanks-img {
    max-width: 278px;
    max-height: 239px;
  }
}





/* Стили для подложки */

.overlay {
   
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}


/* Стили для модальных окон */

.modal {
  
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  
  
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.txt-modal{
  color: black;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
