.order-title {
  font-size: 28px;
  line-height: 28px;
  max-width: 335px;
  margin: 0 auto 14px;

  animation: text-shadow-drop-bottom 0.6s both;
}

@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
}

@media only screen and (min-width: 768px) {
  .order-title {
    font-size: 40px;
    line-height: 44px;
    max-width: 624px;
    text-align: center;
  }
}

.order-paragraph {
  max-width: 335px;
  margin: 0 auto 44px;
}
@media only screen and (min-width: 768px) {
  .order-paragraph {
    max-width: 509px;
  }
}
.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .order-list {
    align-items: center;
    margin-bottom: 80px;
    gap: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .order-list {
    flex-direction: row;
  }
}
.order-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 335px;
  height: 112px;
  background: var(--text-cl);
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .order-item {
    gap: 14px;
    max-width: 389px;
    height: 128px;
    padding: 40px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .order-item {
    max-width: 389px;
    height: 129px;
  }
  .order-item:not(:last-child) {
    padding: 40px 53px 40px 20px;
  }
}
.order-bg {
  min-width: 136px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background: var(--main-cl);
  border-radius: 200px;
}
.order-bg-second {
  background: var(--accent-green-cl);
}
.order-bg-third {
  background: var(--accent-yellow-cl);
}
.order-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.04em;
  line-height: 24px;
  color: var(--text-cl);
}
.order-text {
  text-align: start;
  line-height: 1.29;
  letter-spacing: -0.04em;
  font-size: 14px;
  color: var(--darkmode-cl);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  max-width: 144px;
}
@media only screen and (min-width: 768px) {
  .order-text {
    max-width: 199px;
  }
}

.order-img {
  width: 100%;
  height: 476px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url(/img/order/fruits.gif);
  background-size: cover;
  background-position: 30%;
}
@media only screen and (min-width: 1280px) {
  .order-img {
    width: 860px;
    margin: 0 auto;
  }
}
