@media only screen and (min-width: 768px) {
  .organic-fruits__container {
    padding-bottom: 0;
  }
}
.organic-section-title {
  font-size: 28px;
  line-height: 28px;
  max-width: 335px;
  margin: 0 auto;
  padding-bottom: 14px;

  animation: text-shadow-drop-bottom 0.6s both;
}

@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
}

@media only screen and (min-width: 768px) {
  .organic-section-title {
    font-size: 40px;
    line-height: 44px;
    max-width: 624px;
    text-align: center;
  }
}

.organic-section-text {
  margin: auto;
  padding-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .organic-section-text {
    max-width: 547px;
  }
}

.organic-fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}

.organic-fruits-item {
  display: flex;
  flex-flow: column;
  margin-right: 0;

  width: 335px;
  height: 465px;
  padding: 64px 24px 24px 24px;

  border-radius: 20px;
}
.item-bg-strawberry {
  background-color: #f8766b;
}

.item-bg-banana {
  background-color: #edd251;
}
.item-bg-watermelon {
  background-color: #9dc262;
}
.item-bg-lime {
  background-color: #bfd663;
}
.item-bg-apple {
  background-color: #e93f29;
}
.item-bg-peach {
  background-color: #db4f4b;
}
.item-bg-plums {
  display: none;
}
.item-bg-orange {
  display: none;
}
.item-bg-kiwi {
  display: none;
}

@media only screen and (min-width: 768px) {
  .organic-fruits-list {
    gap: 16px;
  }

  .organic-fruits-item {
    width: 344px;
  }

  .item-bg-plums {
    display: flex;
    background-color: #9b5366;
  }

  .item-bg-orange {
    display: flex;
    background-color: #f47f4c;
  }
}

@media only screen and (min-width: 1280px) {
  .organic-fruits-list {
    gap: 24px;
  }

  .organic-fruits-item {
    width: 389px;
  }
  .item-bg-kiwi {
    display: flex;
    background-color: #98b37e;
  }
}

.organic-fruits-name {
  margin-right: auto;
  margin-bottom: 8px;
}
.organic-desc {
  display: block;
  margin-right: auto;
  letter-spacing: -0.02em;
}
.organic-item-img {
  margin: 0;
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));
}
.organic-price-link {
  display: block;
  margin-top: auto;
  margin-right: auto;
  padding: 12px 24px;

  width: 126px;
  height: 42px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;

  color: var(--main-cl);
  background-color: var(--text-cl);
  border-radius: 200px;
}
.organic_btn {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 26px 7px;

  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  gap: 4px;

  width: 114px;
  height: 114px;
  border: none;
  border-radius: 50%;
  color: var(--text-cl);
  background-color: var(--accent-green-cl);

  animation: order 3s ease-in-out infinite both;
}

@keyframes order {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.organic-btn-svg {
  position: relative;
  top: 10px;
  fill: currentColor;
  transform: rotate(-14deg);
}
.organic-btn-txt {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
}
.organic_btn:hover,
.organic_btn:focus {
  color: var(--accent-green-cl);
  background-color: var(--text-cl);
}

/* Modal */

.modal-order {
  display: flex;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  
  width: 100%;
  height: 100%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s all;
}

.modal-order.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  /* border-radius: 20px; */
  overflow: hidden;
}

.modal-order-box {
  display: flex;
  width: 335px;
  height: 903px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--text-cl);
  border-radius: 20px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .modal-order-box {
    position: relative;
    width: 704px;
    height: 853px;
    padding: 40px;
  }
  .modal-list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  .modal-order-box {
    width: 891px;
    height: 911px;
  }
}


.modal-order-titel {
  color: var(--main-cl);
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 40px;
  margin-right: auto;
}

.modal-item-strawberry {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding: 20px 32px 8px 20px;
  width: 295px;
  height: 119px;
  background-color: #f8766b;
  border-radius: 20px;
}
.modal-item-appels {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding: 20px 32px 8px 20px;
  width: 295px;
  height: 119px;
  background-color: #edd251;
  border-radius: 20px;
}
.modal-item-fruits {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 40px;
  position: relative;
  padding: 20px 32px 8px 20px;
  width: 295px;
  height: 119px;
  background-color: #9dc262;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .modal-item-strawberry {
    width: 200px;
    height: 250px;
    padding: 40px 30px 14px 20px;
  }
  .modal-item-appels {
    width: 200px;
    height: 250px;
    padding: 40px 30px 14px 20px;
  }
  .modal-item-fruits {
    width: 200px;
    height: 250px;
    padding: 40px 30px 14px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .modal-item-strawberry {
    width: 257px;
    height: 308px;
  }

  .modal-item-appels{
    width: 257px;
    height: 308px;
  }

  .modal-item-fruits{
    width: 257px;
    height: 308px;
  }
}

.fruits-checkbox {
  opacity: 0;
}

.check-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.fruits-checkbox:checked + .check-icon > .uncheck {
  opacity: 0;
}

.check {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input[type='checkbox']:checked + .check-icon > .check {
  opacity: 1;
}

.modal-order-titels {
  font-size: 18px;
  line-height: 24px;
  margin-right: auto;
}

@media only screen and (min-width: 1280px) {
  .modal-order-titels {
    font-size: 24px;
  }
}

.modal-order-desc {
  margin-right: auto;
}

.fruits-box-strawberry {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 88px;
  height: 95px;
}

.fruits-box-apple {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 107px;
  height: 95px;
}

.fruits-box-mix {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 106px;
  height: 95px;
}

@media only screen and (min-width: 768px) {
  .fruits-box-strawberry {
    top: 95px;
    right: 30px;
    width: 133px;
    height: 148px;
  }

  .fruits-box-mix {
    top: 95px;
    right: 20px;
    width: 172px;
    height: 148px;
  }

  .fruits-box-apple {
    top: 95px;
    right: 15px;
    width: 172px;
    height: 148px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-box-strawberry {
    top: 110px;
    right: 50px;
    width: 173px;
    height: 196px;
  }
  
  .fruits-box-mix {
    top: 110px;
    right: 20px;
    width: 229px;
    height: 196px;
  }
  
  .fruits-box-apple {
    top: 110px;
    right: 15px;
    width: 229px;
    height: 196px;
  }
}

.fruits-checkbox {
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal-img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .modal-img {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    height: 467px;
  }
}
.customers-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 14px;
}

.customers-form-input {
  width: 295px;
  height: 46px;
  padding: 10px;
  background-color: transparent;
  opacity: 0.3;
  border: 1px solid #000000;
  border-radius: 100px;
}

.customers-form-textarea {
  padding: 10px;
  background-color: transparent;
  opacity: 0.3;
  border: 1px solid #000000;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .customers-form-input {
    width: 360px;
    height: 48px;
  }
  .customers-form-textarea{
    width: 360px;
    height: 145px;
  }
}

.form-submit-btn {
  width: 92px;
  height: 42px;

  padding: 12px 24px;
  margin-top: auto;
  margin-right: auto;

  color: var(--text-cl);
  background-color: var(--accent-green-cl);
  border: none;
  border-radius: 100px;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  color: var(--accent-green-cl);
  background-color: var(--text-cl);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
